# Основные зависимости
python-telegram-bot==20.3
Pillow==10.0.0
numpy==1.24.3
tensorflow==2.12.0

# Логирование и вспомогательные
python-dotenv==1.0.0
logging==0.4.9.6

# Для обработки изображений
opencv-python==4.7.0.72
matplotlib==3.7.1  # Для визуализации (опционально)

# Дополнительные утилиты
requests==2.28.2   # Для работы с API (если нужно)
